.nav {
    display: grid;
    padding: 5px;

    background: #38bdf8;
    color: rgb(224, 229, 233);
}

ul {
    list-style-type: none;
    display: grid;
    gap: 5px;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 13%;
    background: #5b21b6;
    color: white;
    border-color: #a78bfa;
}

.main  {
    display: grid;
}

.news {
    display: grid;
    background-color: grey;
}

.projects {
    display: grid;
}

.main {
    display: grid;
    background-color: red;
}