* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100vw;
    height: 100vh;
    gap: 10px;
}

.nav {
    display: grid;
    grid-area: 1 / 1 / span 4 / span 1;
    grid-template-columns: 1;
    grid-template-rows: 50px 180px 150px;
    gap: 110px;

    padding-top: 20px;
    padding-left: 30px;

    background: #38bdf8;
    color: rgb(224, 229, 233);

    min-width: 250px;
    max-width: 400px;

    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.dashboard {
    font-size: 22px;
    font-weight: bold;
    grid-area: 1 / 1;
    margin-bottom: -50px;
}

.navLinks1 {
    grid-area: 2 / 1;
    font-size: 20px;
}

.navLinks2 {
    grid-area: 3 / 1;
    font-size: 20px;
}

.header {
    display:grid;
    grid-area: 1 / 2 / span 1 / -1;
    background: whitesmoke;

    padding: 15px;
    min-width: 986px;

    grid-template-rows: repeat(2, 60px);
    grid-template-columns: repeat(3, 1fr);
    height: 170px;

    border-radius: 20px;
    margin-right: 45px;
    margin-top:10px;
    /*add box shadow*/
}

.news {
    display: grid;
    background-color: grey;
    grid-area: 2 / 3 / span 3 / span 1;
    background:white;
    border-radius: 15px;
    padding: 10px;
    grid-template-rows: 200px  repeat(5, 60px);
    gap: 10px;
}

.searchBar {
    height: 25px;
    grid-area: 1 / 1/ 1 / span 2;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: 35px;

    position: absolute;
}

.userStuff {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-left: 80px;
    grid-area: 1 / 3;
    height: 50px;
}

.buttons {
    grid-area: 2 / 3;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

}

.projects {
    background-color: white;
}

.main {
    display: grid;
    background-color: #e2e8f0;
    grid-area: 2 / 2 / span 4 / span 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(3, 1fr);
    gap: 25px;
    padding: 30px;
    padding-bottom: 40px;

    margin-top: -50px;
    margin-bottom: 10px;

    border-radius: 20px;
    margin-right: 45px;
    overflow: auto;
}

.titles {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 26s0px repeat(2, 1fr);
    grid-template-rows: 50px;
    grid-area: 1 / 1 / span 1 / 4;
    background-color:#e2e8f0;
}

.YourProjects {
    grid-area: 1 / 1 / span 1 / span 2;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.Announcements {
    grid-area: 1 / 4 ;
    font-size: 18px;
    font-weight: bold;
    margin-right: -5px;
    margin-top: 30px;
}

.project.one {
    grid-area: 2 / 1;
}

.project.two {
    grid-area: 2 / 2;
}

.project.three {
    grid-area: 3 / 1;
}

.project.four {
    grid-area: 3 / 2;
}

.project.five {
    grid-area: 4 / 1;
}

.project.six {
    grid-area: 4 / 2;
}

.project:hover {
    transform: scale(1.08);
}

.project {
    text-align:left;
    padding-top: 15px;
    padding: 15px;
    background: white;
    border-radius: 15px;
    border-left: 8px solid #f97316;

    display: grid;
    grid-template-rows: 20px 100px 40px;
    grid-template-columns: 1fr 1fr;
}

div.icons {
    grid-area: 3 / 2;
    display: flex;
    gap: 5px;
    justify-content: right;
    align-items: center;
}

div.icons > img {
    width: 25px;
    height: 25px;
}

div.icons > img:hover {
    transform: scale(1.1);
}

.project > img {
    grid-area: 2 / 1;
    margin-top: 5px;
    width: 110px;
}

.project.two > img {
    width: 120px;
    height: 120px;
}

.project.three > img{
    width: 200px;
    margin-top: 2px;
}

.project.four > img {
    width: 200px;
}

.project.five > img {
    width: 130px;
    margin-left: 15px;
}

.title {
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: grid;
    gap: 15px;
}

button {
    width: 93px;
    height: 35px;
    border-radius: 15px;
    background: #5b21b6;
    color: white;
    border-color: #a78bfa;
}

button:hover  {
    transform: scale(1.05);
}

.magnify {
    width: 30px;
    height: 30px;
}

.alleyCat {
    width: 60px;
    height: 60px;
}

.alleyCat:hover, .bell:hover, .magnify:hover, .profilepic:hover {
    transform: scale(1.07);
}

.profilepic {
    width: 40px;
    height: 40px;
}

.bell {
    width: 20px;
    height: 20px;
}

.tortoise {
    width: 30px;
    height: 30px;
}

li > img {
    width: 30px;
    height: 30px;
}


input {
    width: 600px;
    height: 25px;
    border-radius: 15px;
}

.profileName {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
    position: absolute;
    top: 70px;
}

.userName {
    font-size: 15px;
    font-weight: bold;
}

li {
    display:flex;
    align-items: center;
    gap: 15px;
}

.title {
    display:flex;
    gap: 15px;
}

.announcementStuff .one{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    background-color: white;
}

.announcementStuff.one > img {
    min-width: 100%;
    max-height:100%;
}

.trendingStuff {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-left: 40px;
}

.trendingStuff:hover {
    transform: scale(1.2);
}

.trendingStuff .one {
    grid-area: 2 / 1;
    margin-top: 5px;
}

span.text {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-weight: bold;
}

.trendingStuff.one > img , .trendingStuff.two > img,
.trendingStuff.three > img, .trendingStuff.four > img,
.trendingStuff.five > img{
    width: 40px;
    height: 80px;
    grid-area: 1 / 1;
}

.trendingStuff .two {
    grid-area: 3 / 1;
}

.trendingStuff .three {
    grid-area: 4 / 1;
}

.trendingStuff .four {
    grid-area: 5 / 1;
}

.trendingStuff .five {
    grid-area: 6 / 1;
}

.span.text.one {
    grid-area: 1 / 2;
}

a {
    text-decoration:none;
    color:black;
}

li > img:hover {
    transform: scale(1.1);
}